<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать заказ автомат</title>
</head>
<body>

<form th:method="POST" th:action="@{/products}" th:object="${product}">
    <label for="prod">Введите новый продукт </label>
    <input type="text" th:field="*{nameProd}" id="prod"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameProd')}" th:errors="*{nameProd}">Name Error</div>
    <br/>
    <label for="DEP">Выберите департамент </label>
    <!--    <input type="text" th:field=*{depId}"" id="dep"/>-->
    <select th:field="*{depId}" id = "DEP">
        <option th:each="depart : ${departs}"
                th:value="${depart.getId()}"
                th:text="${depart.getName()}">prod</option>
    </select>
<!--    <label for="DEP">Dep ID: </label>-->
<!--    <input type="text" th:field="*{depId}" id="DEP"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('depId')}" th:errors="*{depId}">Dep Error</div>-->
    <br/>
    <input type="submit" value="Создать!"/>

</form>

</body>
</html>