<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стартовая старница</title>
</head>
<body>
<h2>Сущности:</h2>
<a href="/employees">Сотрудники</a>
</br>
<a href="/departs">Департаменты</a>
</br>
<a href="/products">Продукты</a>
</br>
<h2>Заказы:</h2>
<a href="/orders">Посмотреть заказы</a>
</br>
<a href="/orders/new">Создать заказ (автоматическое назначение)</a>
</br>
<a href="/orders/departs">Посмотреть заказы по отделам</a>
</br>
<a href="/orders/employees">Посмотреть заказы по сотрудникам</a>
</br>
<a href="/orders/unfinishedOrders">Незавершенные заказы (заказы у которых срок завершения > чем СЕГОДНЯ</a>
</hr>
<h2>JSON:</h2>
<a href="/test">JSON сотрудников</a>
</body>
</html>