<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы по отделам</title>
</head>
<body>
<form th:method="GET" th:action="@{/orders/departs}">
<!--    <label for="FIO">Введите нового сотрудника: </label>-->
<!--    <input type="text" th:field="*{FIO}" id="FIO"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('FIO')}" th:errors="*{FIO}">Name Error</div>-->
<!--    <br/>-->
    <label for="depId">Выберите отдел: </label>
    <!--    <input type="text" th:field=*{depId}"" id="dep"/>-->
    <select id="depId" name="dep">
        <option th:each="depart : ${departs}"
                th:value="${depart.getId()}"
                th:text="${depart.getName()}">dep</option>
    </select>

<!--    <label for="DEP">Dep ID: </label>-->
<!--    <input type="text" th:field="*{depId}" id="DEP"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('depId')}" th:errors="*{depId}">Dep Error</div>-->
    <br/>

    <input type="submit" value="Посмотреть"/>
</form>



</body>
</html>